<html>
      

<script>
// Adicione as credenciais do SDK
  const mp = new MercadoPago('PUBLIC_KEY', {
        locale: 'es-AR'
  });

  // Inicialize o checkout
  mp.checkout({
      preference: {
          id: 'YOUR_PREFERENCE_ID'
      },
      render: {
            container: '.cho-container', // Indique o nome da class onde será exibido o botão de pagamento
            label: 'Pagar', // Muda o texto do botão de pagamento (opcional)
      }
});
</script>

<script
  src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
  data-preference-id="<?php echo $preference->id; ?>">
</script>

</html>